<!DOCTYPE html>
<html>
  <head>
    <title>Student List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Student List</h1>
    <table border="1">
      <tr>
      <th>Roll No</th>
      <th>name</th><th>score</th><th>Action</th>
    </tr>
    <% StudentsData.forEach(function(val, key){  %>
      <tr>
        <td><%=val._id %></td>
        <td><%=val.name %> </td>
        <td> <%  val.scores.forEach(function(value, uu){ %>
        <%=value.type%> : <%=value.score%> 
      </BR>
        <% }) %>
        </td>
        <td><a href="/<%=val._id %>">Edit</a> </td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
